<h1>All coupons</h1>

<% @coupons.each do |coupon| %>
 
<h1>><%= coupon.store %></h1>
<h1>><%= coupon.coupon_code %></h1>
<div><%= link_to coupon.coupon_code, coupon_path(coupon) %> | <%= coupon.store %></div>
<% end %>